{
  "bracketSpacing": true,
  "printWidth": 100,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "package*.json",
      "options": {
        "printWidth": 1000
      }
    }
  ]
}
