<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= htmlWebpackPlugin.options.appTitle %> [<%= htmlWebpackPlugin.options.appVersion %>]</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  </head>
  <body>
    <div id="app" />
    <!-- jQuery is required for Trello's client.js -->
    <script src="./js/jquery.min.js"></script>
    <script src="https://api.trello.com/1/client.js?key=<%= htmlWebpackPlugin.options.apiKey %>"></script>
  </body>
</html>
